<div class="row">
						<div class="col-md-4 col-xl-3">
							<div class="card mb-3">
								<div class="card-header">
									<h5 class="card-title mb-0"> </h5>
								</div>
								<div class="card-body text-center">
									<img src="assets/images/perfil-foto.jpg" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128" height="128" />
									    <div *ngIf="perfilCompleto">

                                            <!-- Para Estudiante -->
                                            <div *ngIf="perfilCompleto.tipo === 'ESTUDIANTE'">
                                                <h5 class="card-title mb-0">
                                                <strong>Estudiante:</strong> {{ perfilCompleto.nombre }} {{ perfilCompleto.apellido1 }} {{ perfilCompleto.apellido2 }}
                                                </h5>
                                                <!-- Agrega aquí campos específicos para estudiante -->
                                                <p>Carnet: {{ perfilCompleto.carnet }}</p>
                                                <p>Carrera: {{ perfilCompleto.nombreCarrera }}</p>
                                            </div>

                                            <!-- Para Bibliotecario -->
                                            <div *ngIf="perfilCompleto.tipo === 'BIBLIOTECARIO'">
                                                <h5 class="card-title mb-0">
                                                <strong>Bibliotecario:</strong> {{ perfilCompleto.nombre }} {{ perfilCompleto.apellido1 }} {{ perfilCompleto.apellido2 }}
                                                </h5>
                                              
                                            </div>

                                            <!-- Para Docente -->
                                            <div *ngIf="perfilCompleto.tipo === 'DOCENTE'">
                                                <h5 class="card-title mb-0">
                                                <strong>Docente:</strong> {{ perfilCompleto.nombre }} {{ perfilCompleto.apellido1 }} {{ perfilCompleto.apellido2 }}
                                                </h5>
                                                <!-- Campos específicos para docente -->
                                                <p>Especialidad: {{ perfilCompleto.especialidad }}</p>
                                                <p>Correo: {{ perfilCompleto.email }}</p>
                                            </div>

                                        </div>
									

								</div>
								<hr class="my-0" />
							
								<hr class="my-0" />
								<div class="card-body">
									<h5 class="h6 card-title">Detalles</h5>
									<ul class="list-unstyled mb-0">
										<li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span>
                                               <!-- Para Bibliotecario -->
                                            <div *ngIf="perfilCompleto.tipo === 'BIBLIOTECARIO'">
                                                <!-- Campos específicos para bibliotecario -->
                                                <p>Email: {{ perfilCompleto.email }}</p>
                                                <p>Teléfono: {{ perfilCompleto.telefono }}</p>
                                                <p>{{ perfilCompleto.fecharegistro }}</p>
                                            </div>
                                        
                                        </li>

										
									</ul>
								</div>
								<hr class="my-0" />
								
							</div>
						</div>

						<div class="col-md-8 col-xl-9">
							<div class="card">
								<div class="card-header">

									<h5 class="card-title mb-0">Actividad</h5>
								</div>
								
							</div>
						</div>
					</div>